@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import "tailwindcss";
.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}


